.auth-form {
    width: 25%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    -webkit-box-shadow: -9px 11px 31px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px 11px 31px 2px rgba(0, 0, 0, 0.75);
    box-shadow: -9px 11px 31px 2px rgba(0, 0, 0, 0.75);
    border-radius: 5px;

    &.register {
        height: 56vh;
    }

    &.login {
        height: 35vh;
    }

    &.verify {
        height: 25vh;
    }
}

.text-align-center {
    text-align: center;
    margin-top: 5%;
}

.styling-of-button {
    margin-bottom: 2%;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.styling-for-button-send-email {
    width: 35%;
}

.bold-text {
    font-weight: bold;
}

.form-group {
    width: 80%;
    margin-left: 10%;
}