.auth-form {
    width: 20%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.styling-of-button {
    margin-top: 2%;
    width: 100%;
}

.bold-text {
    font-weight: bold;
}