.home-page-container {
    display: block;
    width: 50%;
    left: 50%;
    transform: translate(50%, 1%);
}

.banner-advertisement {
    background-image: url("../banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
}

.border-bottom {
    border-bottom: black solid 1px;
}

.row-margin-top {
    margin-top: 3%;
}

.icon-ads {
    height: 50px;
    width: 50px;
    color: #17a2b8;
}

.row {
    margin: 0px
}

a {
    color: #17a2b8;
}

.checked {
    color: orange;
}

.footer {
    margin-top: 1%;
    border-top: black solid 1px;
}

.newest::after {
    content: "Newest";
    position: absolute;
    background: seagreen;
    color: #fff;
    padding: 5px;
    font-size: 13px;
    top: 20px;
    right: -5px;
}

.best-seller::after {
    content: "Best Seller";
    position: absolute;
    background: rgb(218, 120, 9);
    color: #fff;
    padding: 5px;
    font-size: 13px;
    top: 20px;
    right: -5px;
}