.form-wrap-input {
    width: 70%;
}

.custom-input {
    width: 80% !important;
    border-radius: 15px !important;
}

.custom-radius {
    border-radius: 15px !important;;
}

.nav-mr-right {
    margin-right: 1%;
}

.nav-wrap-button {
    width: 30%;

    button {
        width: 150px;
    }
}

.icon-shopping-cart {
    height: 35px;
    width: 35px;
    margin-top: 25% !important;
}

.nav-icon-mr-right {
    margin-right: 5%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown {
    a {
        color: #17a2b8
    }
}

.dropdown-root:hover>.menu-sub {
    display: block;
}

.dropdown-root>.toggle-sub:active {
    pointer-events: none;
}
